<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige todas las solicitudes a la carpeta public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]

    # Si el archivo o directorio solicitado existe en /public, servirlo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php?$1 [L]
</IfModule>